ul,
li {
    margin: 0;
}

.menu {
    background: #333;
    padding: 1rem;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .m-hide {
        display: none !important;
    }

    .menu ul {
       flex-direction: column; 
       justify-items: center;
    }
}

@media (min-width: 1024px) {
    .d-hide {
        display: none !important;
    }
}